users:
  - username: devops
    name: "devops"
    password: '$6$aKdWfVOHoAGIEvRM$OHfYl8Nd9CeGnw8bps2FCtapnkp6zS.hOfncwgRuYz3z5EOxgDk5yEkhH3ygIa.i5qsqJFqMDgq5leqbdlCu21'
    groups: [ 'adm','staff', 'sudo', 'docker' ]
    uid: 1001
    home: /home/devops
    profile: |
      alias ll='ls -lah'
    ssh_key: []

groups_to_create: []
users_deleted: []
